*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-image: linear-gradient(to left, rgb(188, 183, 207), black, indigo, indigo, indigo, indigo, black, rgb(188, 183, 207));*/
  background-color: rgb(5, 4, 37);
}

.mainContent
{
  margin-top: 100px;
  height: 600px;
  width: 400px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-image: linear-gradient(to top left, black, indigo, indigo, rgb(188, 183, 207), indigo, indigo, black);
  box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.5)
}

.btnNum, .btnSimb, .btnRst, .btn
{
  height: 80px;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  border-radius: 25%;
  margin: 1px 1px;
  border-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.btnNum
{
  background-color: rgba(172, 255, 47, 0.1);
}

.btnNum:hover
{
  background-image: linear-gradient(to top left, greenyellow, greenyellow, white, greenyellow, greenyellow);
}

.btnSimb
{
  background-color: rgba(255, 166, 0, 0.1);
}

.btnSimb:hover
{
  background-image: linear-gradient(to top left, orange, orange, white, orange, orange);
}

.btnRst
{
  background-color: rgba(255, 0, 0, 0.2);
}

.btnRst:hover
{
  background-image: linear-gradient(to top left, red, red, white, red, red);
}

#eqBtn
{
  background-color: rgba(255, 166, 0, 0.5);
  border-radius: 50%;
}

#show
{
  border-top-left-radius: 25px;
  font-size: 30px;
}

#answ
{
  border-bottom-left-radius: 25px;
  font-size: 50px;
}

#show, #answ
{
  background-color: rgba(255, 255, 255, 0);
  width: 320px;
  text-align: end;
  padding: 4px;
  border: 0px;
}

.display
{
  height: 120px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  justify-content: center;
  border-radius: 25px;
}